<section class="u-clearfix u-section-4" id="sec-e40f">
    <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h2 class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">About me</h2>
                    </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <p class="u-text u-text-default u-text-3">
                            "I’m passionate about building visually engaging, user-friendly websites. While I have experience coding with ASP.NET and JavaScript, I also enjoy using no-code platforms like WordPress and Canva to deliver fast and creative solutions.
                            I’m currently exploring Kajabi and interested in how creators can grow through smart digital tools.".
                        </p>
                        <br />
                        <p>
                            "What I love most about web development is the blend of logic and creativity it offers. I enjoy turning ideas into interactive, beautiful experiences — whether that means designing clean user interfaces, writing efficient code, or exploring new tools that make websites smarter. I’m especially passionate about building for real people: understanding what they need, how they navigate, and how I can make that experience smoother, faster, and more meaningful. For me, every project is a chance to learn something new, experiment with better ways of doing things, and create something that not only works — but feels good to use."

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
