<div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <a href="#" class="u-nav-item2">
        Home
    </a>
    <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" role="navigation" aria-label="Menu navigation">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-hamburger-link u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" tabindex="-1" aria-label="Open menu" aria-controls="5db6">
                <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
                <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                    </g>
                </svg>
            </a>
        </div>
        <div class="u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1" role="menubar">

                <li class="u-nav-item" role="none">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#sec-e40f" style="padding: 10px 20px;" role="menuitem">About me</a>
                </li>
                <li class="u-nav-item" role="none">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#sec-f9fe" style="padding: 10px 20px;" role="menuitem">Skills</a>
                </li>
                <li class="u-nav-item" role="none">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#sec-2977" style="padding: 10px 20px;" role="menuitem">Technologies</a>
                </li>
                <li class="u-nav-item" role="none">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#carousel_1945" style="padding: 10px 20px;" role="menuitem">AI</a>
                </li>
                <li class="u-nav-item" role="none">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#carousel_080a" style="padding: 10px 20px;" role="menuitem">Projects</a>
                </li>
                <li class="u-nav-item" role="none">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Página-2.html" style="padding: 10px 20px;" role="menuitem">Contact</a>
                </li>
            </ul>
        </div>
        <div class="u-nav-container-collapse" id="5db6" role="region" aria-label="Menu panel">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close" tabindex="-1" aria-label="Close menu"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="./">About me</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="#sec-e40f">Skills</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="#sec-f9fe">Tecnologies</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="#sec-2977l">AI</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="Página-2.html">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</div>
