<section class="skrollable u-clearfix u-container-align-center u-image u-parallax u-section-2 u-section-2a" id="sec-1631" data-image-width="1280" data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1">
    </div>
</section>


<section class="u-clearfix u-section-3" id="sec-f9fe">
    <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">

            <!-- Skill 1 -->
            <div class="u-container-style u-custom-item u-list-item u-repeater-item u-white u-list-item-1">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                    <span class="u-file-icon u-icon u-text-grey-40 u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <img src="images/1835955-1da7c897.png" alt="">
                    </span>
                    <h5 class="u-align-center u-text u-text-2">Creative Frontend Development</h5>
                    <p class="u-align-center u-text u-text-default u-text-3">
                        Building interactive user experiences with HTML, CSS, JavaScript & Blazor.
                    </p>
                </div>
            </div>

            <!-- Skill 2 -->
            <div class="u-container-style u-custom-item u-list-item u-repeater-item u-white u-list-item-2">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                    <span class="u-file-icon u-icon u-text-grey-40 u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                        <img src="images/3159310-bb6e2440.png" alt="">
                    </span>
                    <h5 class="u-align-center u-text u-text-5">No-Code Design Solutions</h5>
                    <p class="u-align-center u-text u-text-default u-text-6">
                        Designing beautiful, responsive websites using my favorite no-code plataform NICEPAGE.
                    </p>
                </div>
            </div>

            <!-- Skill 3 -->
            <div class="u-container-style u-custom-item u-list-item u-repeater-item u-white u-list-item-3">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                    <span class="u-file-icon u-icon u-text-grey-40 u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <img src="images/3362115-c8abf507.png" alt="">

                    </span>
                    <h5 class="u-align-center u-text u-text-8">API Integration & Automation</h5>
                    <p class="u-align-center u-text u-text-default u-text-9">
                        Connecting systems with REST APIs and building logic flows with no-code tools like Zapier.
                    </p>
                </div>
            </div>

            <!-- Skill 4 -->
            <div class="u-container-style u-custom-item u-list-item u-repeater-item u-white">
                <div class="u-container-layout u-similar-container u-container-layout-4">
                    <span class="u-file-icon u-icon u-text-grey-40 u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <img src="images/10554213-0b2168e2.png" alt="">

                    </span>
                    <h5 class="u-align-center u-text u-text-11">User-Centered Web Strategy</h5>
                    <p class="u-align-center u-text u-text-default u-text-12">
                        Balancing visual design and functionality to support creators and digital products.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>