<section class="u-clearfix u-section-11" id="carousel_1945">
    <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-grey-5 u-layout-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                        <h5 class="u-text u-text-default u-text-1">AI & Automation</h5>
                        <h2 class="u-text u-text-default u-text-2" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                            Creative Workflows with Artificial Intelligence
                        </h2>
                    </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                        <div class="u-accordion u-expanded-width u-accordion-1" role="tablist">
                            
                            <div class="u-accordion-item">
                                <a class="u-accordion-link u-button-style u-custom-font u-font-montserrat u-text-body-color u-accordion-link-2" id="link-7741" aria-controls="7741" aria-selected="false" role="tab">
                                    <span class="u-accordion-link-text">Visual AI Tools</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-2">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-2368"></use></svg>
                                        <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-2368">
                                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="7741" aria-labelledby="link-7741" role="tabpanel">
                                    <div class="u-container-layout u-container-layout-4">
                                        <p class="u-text u-text-default u-text-4">With tools like Canva Magic Design, Looka, and Framer AI, I speed up brand design, web layouts, and creative direction. These tools help me deliver faster while maintaining quality.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="u-accordion-item">
                                <a class="u-accordion-link u-button-style u-custom-font u-font-montserrat u-text-body-color u-accordion-link-3" id="link-2d9b" aria-controls="2d9b" aria-selected="false" role="tab">
                                    <span class="u-accordion-link-text">Smart Content & UX<br></span><span class="u-accordion-link-icon u-icon u-text-black u-icon-3">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-6df4"></use></svg>
                                        <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-6df4">
                                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="2d9b" aria-labelledby="link-2d9b" role="tabpanel">
                                    <div class="u-container-layout u-container-layout-5">
                                        <p class="u-text u-text-default u-text-5">I use AI tools like ChatGPT and Notion AI to brainstorm, structure, and improve UX writing, FAQs, and learning-based pages for creators and small business websites..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="u-accordion-item">
                                <a class="u-accordion-link u-button-style u-custom-font u-font-montserrat u-text-body-color u-accordion-link-4" id="link-ac43" aria-controls="ac43" aria-selected="false" role="tab">
                                    <span class="u-accordion-link-text">Automation with No-Code<br></span><span class="u-accordion-link-icon u-icon u-text-black u-icon-4">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xlink:href="#svg-8ed1"></use></svg>
                                        <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-8ed1">
                                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <div class="u-accordion-pane u-container-style u-accordion-pane-4" id="ac43" aria-labelledby="link-ac43" role="tabpanel">
                                    <div class="u-container-layout u-container-layout-6">
                                        <p class="u-text u-text-default u-text-6">I've built automations combining Zapier with AI to auto-generate emails, form replies, and even quick landing pages — ideal for supporting creators and fast content production.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
