<section class="u-clearfix u-valign-middle u-section-12" id="carousel_080a">
    <div class="u-align-center u-container-layout u-container-layout-1">
        <h2 class="u-text u-text-default padding-h2 u-text-2">Projects Powered by coding technologies</h2>
        <p class="u-text u-text-default u-text-1">Here are some examples where I used .NET and JavaScript technologies to solve problems robustly and efficiently.</p>
    </div>
    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-hover-zoom u-gallery-item">
                <div class="u-back-slide">
                    <img class="u-back-image u-expanded" src="~/images/Project1.png">
                </div>
                <div class="u-over-slide u-shading u-over-slide-1"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
                <div class="u-back-slide">
                    <img class="u-back-image u-expanded" src="~/images/Project2.png">
                </div>
                <div class="u-over-slide u-shading u-over-slide-2"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
                <div class="u-back-slide">
                    <img class="u-back-image u-expanded" src="~/images/Project3.png">
                </div>
                <div class="u-over-slide u-shading u-over-slide-3"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
                <div class="u-back-slide">
                    <img class="u-back-image u-expanded" src="~/images/Project4.png">
                </div>
                <div class="u-over-slide u-shading u-over-slide-4"></div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
                <div class="u-back-slide">
                    <img class="u-back-image u-expanded" src="~/images/Project5.png">
                </div>
                <div class="u-over-slide u-shading u-over-slide-5"></div>
            </div>
            
        </div>
    </div>
</section>
