@{
    ViewData["Title"] = "Home Page";
}
  <section class="u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-valign-middle-lg u-valign-middle-sm u-valign-middle-xs u-section-1" id="sec-f49f">
    <h1 class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">ANA CALERO</h1>
    <h5 class="u-align-center u-text u-text-default u-text-1">Creative Web Developer & No-Code Enthusiast</h5>
    <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                    <div class="u-container-layout u-valign-bottom u-container-layout-1">
                        <h5 class="u-text u-text-default u-text-3">Building with .NET & Blazor</h5>

                    </div>
                </div>
                <div class="u-container-align-right u-container-style u-layout-cell u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                    <div class="u-container-layout u-valign-bottom u-container-layout-2">
                        <h5 class="u-align-right u-text u-text-default u-text-4">Designing with No-Code</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
    <!-- Secciones del portafolio -->
    @await Html.PartialAsync("section2")
    @await Html.PartialAsync("AboutMe")
    @await Html.PartialAsync("section3")
    @await Html.PartialAsync("section4")
    @await Html.PartialAsync("section5")
    @await Html.PartialAsync("section6")
    @await Html.PartialAsync("Contact")





    
    
    